<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: 'lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: 'nav_bar' %>
    <div class="wrapper__main-body">
      
      <%= form_with model: @group, local: true do |f| %>
        <div class="create-group__form">
          
          <div class="create-group__member-list">
          <% if @members.present? %>
            <div class="create-group__text">
              <p>このメンバーとグループを作成</p>
            </div>
            <% @members.each do |member| %>  
              <ul class="create-group__member-name">
                <li><%= member.nickname %>：<%= member.email %></li>
              </ul>
              <input name="group[user_ids][]" value=<%= member.id %> type="hidden">
            <% end %>
          <% end %>
          </div>

          <div class="create-group__field">
            <%= render partial: 'input_group_name', locals:{ f: f } %>

          </div>
          
        </div>
      <% end %>
      <%= link_to 'ユーザー検索に戻る', search_users_path, class:"create-group__return-btn"  %>

    </div>
  </div>
</div>