<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: 'lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: 'nav_bar' %>
    <div class="wrapper__main-body">
      
      <%= form_with model: @group, url: create_own_group_groups_path, local: true do |f| %>
        <div class="create-group__form">
          
          <div class="create-group__member-list">
            <div class="create-group__text">
              <%= "自分１人のグループを作成" %>
            </div>
          </div>

          <div class="create-group__field">
            <%= render partial: 'input_group_name', locals:{ f: f } %>

          </div>
          
        </div>
      <% end %>
      <%= link_to 'ユーザー検索に戻る', search_users_path, class:"create-group__return-btn"  %>

    </div>
  </div>
</div>