<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: 'lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: 'current_group_name' %>
    <div class="wrapper__main-body">
      
      <div class="group-detail">
        <div class="group-detail__name">
          グループ：<%= @group.name %>
        </div>
        <div class="group-detail__members">
          メンバー：
          <% @users.each do |user| %>
            <%= user.nickname %>
          <% end %>
        </div>
        <ul class="group-detail__contents">
          <li><%= link_to '在庫リスト', group_items_path(@group.id), class:"group-detail__link" %></li>
          <li><%= link_to 'お買い物リスト', group_orders_path(@group.id), class:"group-detail__link" %></li>
        </ul>
        <ul class="group-detail__edit">
          <li><%= link_to 'グループを編集する', "#", class:"group-detail__link" %></li>
          <li><%= link_to '!!グループを削除する!!', group_path(@group.id), data: { turbo_method: :delete }, class:"group-detail__link" %></li>
        </ul>
      </div>

    </div>
  </div>
</div>