<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: '/groups/lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: '/groups/nav_bar' %>
    <div class="wrapper__main-body">
      
      <%= form_with model: @user, url: add_members_groups_path, method: :get, local: true do |f| %>
        <div class="search-results__form">  
          <% if @users.present? %>
            <div class="search-results__text">
              <p>メンバーリストに加えるユーザーを選択</p>
              <% @users.each do |user| %>
                <div class="search-results__select-user">
                  <%= check_box_tag "group[user_ids][]", user.id %>
                  <%= label_tag "group[user_ids][]", user.nickname %>
                  <%= label_tag "group[user_ids][]", user.email %>
                </div>
              <% end %>
            </div>
            <div class="search-results__actions">
              <%= f.submit "メンバーリストに追加", class:"search-results__btn" %>
            </div>
          <% else %>
            <p class="search-results__text">該当するユーザーはいませんでした</p>
          <% end %>
          <div>
            <%= link_to '戻る', search_users_path, class:"search-results__return-btn" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>





    