<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: '/groups/lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: '/groups/nav_bar' %>
    <div class="wrapper__main-body">

      <div class="item__main-body">
        <div class="item-nav-bar">
          <%= render partial: 'nav_bar' %>
        </div>

        <div class="edit-order__wrapper">
          
          <%= form_with model: @order, local: true do |f| %>
            <div class="edit-order__form">
            
              <div class="edit-order__title"><%= 'お買い物リストを修正' %></div>

              <div class="edit-order__field">
                <%= f.label 'カテゴリを選ぶ'%>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"edit-order__input"}) %>
              </div>

              <div class="edit-order__field">
              <%= f.label '優先度（必須）'%>
              <%= f.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"edit-order__input"}) %>
              </div>
              
              <div class="edit-order__field">
                <%= f.label '在庫メモまたは画像' %>
                <%= f.text_field :memo, class:"memo", placeholder:"メモを入力", class:"edit-order__input" %>
                  <%= f.file_field :image, class:"edit-order__input" %>
              </div>

              <div class="edit-order__actions">
                <%= f.submit '修正', class:"edit-order__btn" %>
                <%= link_to '削除', order_path(@order.id), data:{turbo_method: :delete}, class:"edit-order__delete-btn" %>
              </div>

            </div>
          <% end %>
          
        </div>
      
      </div>

    </div>
  </div>
</div>