<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: '/groups/lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: '/groups/nav_bar', locals:{ group: @group } %>
    <div class="wrapper__main-body">

      <div class="order__main-body">
        <div class="order-nav-bar">
          <%= render partial: 'nav_bar', locals:{ group: @group } %>
        </div>

        <%= form_with url: "/orders/destroy_checked", method: :delete, class:"order__form", local: true do |f| %>
        
          <div class="order__wrapper">
            <% @orders.each do |order| %>
              <div class="order__content">
                <ul class="order__detail">
                  <li><%= f.label "買い終わったらチェック" %>
                      <%= check_box_tag "order_ids[]", order.id %></li>
                  <li class="order__category">カテゴリ：<%= order.item.category.name %></li>
                  <li class="order__priority">優先度：<%= order.priority.name %></li>
                  <li class="order__memo">メモ：<%= order.memo %></li>
                  <% if order.item.image.attached? %>
                    <li><%= image_tag order.item.image.variant(resize: '240x180'), class: 'order__image' %></li>
                  <% else %>
                    <li><%= image_tag 'noimage.jpg', :size => '240x180', class: 'order__image' %></li>
                  <% end %>
                </ul>
                <div class="order__buttons">
                  <%= link_to '編集', edit_order_path(order.id), class:'order__btn' %>
                </div>
              </div>
            <% end %>

            <% @purchases.each do |purchase| %>
              <div class="order__content">
                <ul class="order__detail">
                  <li><%= f.label "買い終わったらチェック" %>
                      <%= check_box_tag "purchase_ids[]", purchase.id %></li>
                  <li class="order__category">カテゴリ：<%= purchase.category.name %></li>
                  <li class="order__priority">優先度：<%= purchase.priority.name %></li>
                  <li class="order__memo">メモ：<%= purchase.memo %></li>
                  <% if purchase.image.present? %>
                    <li><%= image_tag purchase.image.variant(resize: '240x180'), class: 'order__image' %></li>
                  <% else %>
                    <li><%= image_tag 'noimage.jpg', :size => '240x180', class: 'order__image' %></li>
                  <% end %>
                </ul>
                <div class="order__buttons">
                  <%= link_to '編集', edit_purchase_path(purchase.id), class:'order__btn' %>
                </div>
              </div>
            <% end %>

              <input name="group_id" value=<%= @group.id %> type=hidden>
              
            </div>
            <div class="order__checked">
              <%= f.submit '買い物完了', class:"order__btn" %>
            </div>
          </div>
          
          <% end %>

      </div>

    </div>
  </div>
</div>










