在庫リストを編集する

<div>
<%= flash.now[:items_create_error] %>
</div>

<div class="items-form">
<%= form_with model: @item, url: group_item_path(@item.group.id), local: true do |f| %>
  <div>
  <%= f.label 'カテゴリーを選択'%>
  </div>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
  <div>
  <%= f.label 'メモを編集'%>
  </div>
  <%= f.text_field :memo, class:"memo", placeholder:"(例)賞味期限は12/31" %>
  <div>
  <%= f.label '画像を変更（変更しなければ、元の画像が表示されます）'%>
  </div>
  <%= f.file_field :image %>
  <div>
  <%= f.submit "在庫リストを修正する" ,class:"add-items-btn" %>
  </div>
<% end %>
</div>