<div class="wrapper">
  <div class="wrapper__side-bar">
    <%= render partial: '/groups/lists' %>
  </div>

  <div class="wrapper__main">
    <%= render partial: '/groups/nav_bar', locals:{ group: @group } %>
    <div class="wrapper__main-body">

      <div class="item__main-body">
        <div class="item-nav-bar">
          <%= render partial: 'nav_bar', locals:{ group: @group } %>
        </div>

        <div class="item__wrapper">

          <% if @items.present? %>
            <% @items.each do |item| %>
            <div class="item__content">
              <ul class="item__detail">
                <li class="item__category">カテゴリ：<%= item.category.name %></li>
                <li class="item__memo">メモ：<%= item.memo %></li>
              <% if item.image.attached? %>
                <li><%= image_tag item.image.variant(resize: '240x180'), class:'item__image' %></li>
              <% else %>
                <li><%= image_tag 'noimage.jpg', :size => '240x180', class:'item__image' %></li>
              <% end %>
              <div class="item__buttons">
                <%= link_to '編集する', edit_item_path(item.id), class:'item__btn' %>
                <%= link_to 'お買い物リストに登録', new_group_order_path(item.group.id, id: item.id), class:'item__btn' %>
              </div>
              </ul>
            </div>
            <% end %>
          <% end %>
        </div>
      
      </div>

    </div>
  </div>
</div>